/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.page {
  margin-left: 24px;
  text-decoration: none;
  font-size: 14px;
	color: #4A4A4A;	
	cursor: pointer;
}
.first-page{
	margin-left: 0;
}
.prev,
.next {
  text-decoration: none;
  font-size: 14px;
  color: rgba(73, 73, 73, 0.5);
	margin-left: 34.5px;
	cursor: pointer;
}
.prev{
	margin-right: 34px;
	cursor: pointer;
}
.next {
	margin-right: 24.5px;
}
.Current-Page {
	font-size: 14px;
	color: #559AC8;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1024px;
  background-image: url(../img/the-urban-landscape-1698285.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.page-title {
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 3.89px;
  padding-top: 89px;
  margin-bottom: 96px;
}
.district {
  width: 452px;
  height: 48px;
  margin-bottom: 107px;
  background: rgba(255, 255, 255, 0.7);
  border: 3px solid #ffffff;
  border-radius: 3px;
  font-size: 18px;
  color: #000000;
  line-height: 21px;
}
.sec-header {
  display: flex;
  justify-content: center;
}
.hot-title {
  padding-top: 20px;
  padding-bottom: 14px;
  padding-left: 26px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.hot-district {
  width: 800px;
  height: 112px;
  margin-top: -28px;
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.district-line {
  display: flex;
}
.district-block {
  width: 130px;
  height: 42px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8a82cc;
  border-radius: 5px;
	color: #ffffff;
	cursor: pointer;
	font-size: 20px;
	text-decoration: none;
}
.district-name {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}
.district-block:hover {
	color: #000;
}
.first {
  margin-left: 51px;
  margin-right: 23px;
}
.pink {
  background: #ffa782;
}
.yellow {
  background: #f5d105;
}
.blue {
  background: #559ac8;
}
.horizon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24px;
  margin-top: 49px;
}
.arrow {
  position: absolute;
  width: 24px;
  height: 24px;
}
.horizon {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0 auto;
  /* border-top: 0.5px dashed #559AC8; */
  margin-left: 62px;
  margin-right: 62px;
  background-image: linear-gradient(
    to right,
    #559ac8 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  height: 1px;
}
.main-wrapper {
  max-width: 100%;
  display: flex;
	flex-direction: column;
  align-items: center;
}
.main-container {
  display: flex;
  width: 1024px;
  flex-direction: column;
  align-items: center;
}
.current-dis {
  padding-top: 65px;
  padding-bottom: 24px;
  font-size: 36px;
  color: #8a82cc;
}
.district-list {
  width: 944px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dis-card {
  width: 464px;
  padding-bottom: 36px;
}
.top-card {
  background-color: rgb(20, 150, 89);
  height: 155px;
  display: flex;
  align-items: flex-end;
}
.name-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 14px;
}
.left-area {
  padding-left: 26px;
}
.location-name {
  font-size: 24px;
  color: #ffffff;
  line-height: 28px;
  margin-left: 22px;
}
.area-name {
  font-size: 16px;
  color: #ffffff;
  margin-right: 24px;
}
.bottom-card {
  height: 118px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 74, 116);
}
.location-time,
.location-add,
.location-tel {
  padding-top: 16px;
  font-size: 16px;
  color: #000000;
  line-height: 18px;
}
.location-tel {
  padding-bottom: 22px;
}
.right-area {
  display: flex;
  align-items: flex-end;
}
.fee {
  padding-bottom: 19px;
  padding-right: 24px;
}
.page-line {
	padding-top: 49px;
	padding-bottom: 41px;
}
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90px;
	background: #559AC8;
}
.web-name {
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 24px;
	margin-bottom: 15px;
}
.data-source{
	font-size: 14px;
	color: #FFD366;
	padding-bottom: 23px;
}